@media screen and (max-width:800px){


    .online2 {  
        grid-template-columns: repeat(3,1fr);
  
    }
}

@media screen and (max-width:700px){


    .online2{  
        grid-template-columns: repeat(2,1fr);
  
    }

    .nav-container{

      
        flex-direction: column;
        
        
    }

    .teams-image-container{
        flex-direction: column;
    }
}

@media screen and (min-width:300px){
    .nav-container{

      
        flex-direction: column;
        
        
    }

    .footer_ending{
        grid-template-columns: repeat(3,1fr);
        flex-direction: column;
    }

    .teams-image-container{
        flex-direction: column;
    }

    .nav-items-container{

        flex-direction: column;
        width: 100%;
        
    }

    .nav-items-container a{
        margin-top: 20px;
    }

    .nav-items-container .login-btn{
        width: 100%;
        margin-bottom: 10px;
    }

    .teams-content{

      
        flex-direction: column;
        
        
    }

    .teams-img-container{

        flex-direction: column;
        width: 50%;
        
    }

    .teams-img-container a{
        margin-top: 20px;
    }

    .teams-img-container .btn-gap{
        width: 50%;
        margin-bottom: 10px;
    }
}

    /* nav responsive ends here  */