@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Lato', 'sans-serif';
}
nav{
    background-color: #FFF;
}
.nav-container{

    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    
}
.logo-container{

    display: flex;
    width: 50%;
    margin: 20px;
}

.logo-container img{

    width: 80px;
    object-fit:cover;
    margin-right: 20px;
}
.logo-container p{
    font-size: 30px;
  
}

.g-section{
    color: #e893cf;
}

.nav-items-container{

    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-items-container a{
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.nav-items-container .follow-btn{
    background-color: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 8px;
    color: black;
    text-align: center;
    
}

.fa-youtube{
    color: red;
}

/* nav design ends here */

/* main styles */
main {
    max-width: 1440px;
}

/* teams styles */
.teams-container {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    margin: 10px;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
    background-image: url('../images/Group 14.png');
    color: #0b0d17;
}

.images{
    width: 100%;
    height: 100%;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-list {
    font-weight: 500;
}

.teams-title .text-features {
    color: #FF900E;
    font-weight: 700;
    background-clip: text;
    text-align: center;
    font-size: 55px;
    text-transform: uppercase;
}

.btn-primary1 {
    border-radius: 48px;
    color: #FFF;
    font-size: 1.25rem;
    background: #FF42A5;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;
}

.btn-primary2 {
    border-radius: 48px;
    color: #FFF;
    font-size: 1.25rem;
    background: #4EC5F7;
    padding: 20px 25px;
    color: #FFF;
    cursor: pointer;
    border: 0;
}

.btn-gap{
    margin-top: 30px;
}

.des{
    margin-top: 30px;
}

.des i{
    color: black;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    margin: 80px 0 0 0;
  }

.section-description {
    text-align: center;
    font-size: 18px;
    color: #272727;
  }
#description {
    padding: 30px 50px;
  }

.game {
    padding: 30px 20px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* .online {
    width: 300px;
    height: 370px;
} */

.online:hover{
    border: 6px solid #FF42A5;
}

.teams-content2 {
    padding-left: 70px;
    padding-right: 150px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    display: none; /* Initially hidden */
    cursor: pointer;
}

.image-container:hover .play-button {
    display: block;
}

.desc{
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.feature-img img{
    height: 500px;
    width: 600px;
    margin-left: 90px;
    margin-top: 60px;
}

 .ten-years-badge{
    border-radius: 8px;
    border: 10px solid #FFF;
    background-image: url('../images/Rectangle 66.png');
    width: 318px;
    height: 355px;
    text-align: center;
    position:relative;
    bottom: 240px;
   
}

/* User logo section */

.review-container{
    /* border: 1px solid red; */
   gap: 20px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}
.single-review{
    /* border: 1px solid green; */
    flex-basis: 250px;
    /* background-color: #e893cf; */
    /* padding: 10px;
    border-radius: 10px; */
}

.top-review{
    display: flex;
    align-items: center;
    gap: 10px;
}

.image-container {
    position: relative;
    width: 300px;
    height: 200px; 
    overflow: hidden;
}


.image {
    width: 100%;
    height: 100%;
}


.top-review:hover{
    border: 2px solid #FF900E;
}

footer {
    background: #0b0d17;
    width: 1350px;
    height: 300px;
}

.footer_ending {
    text-align: center;
    margin-right: 50px;
    margin-top: 80px;
}
.footer_ending p {
    color: #d9dbe1;
}
.section-title3 {
    color: #272727;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    align-items: center;
  }
  #h3{
    padding: 40px;
  }
  #foot{
    margin-top: 40px;
  }

  .logo-container2{
    display: flex;
    width: 50%;
    margin: 20px;
    padding-left: 550px;
    margin-bottom: 30px;
    padding-top: 40px;
}

.logo-container2 img{
    width: 80px;
    object-fit:cover;
    margin-right: 20px;
}
.logo-container2 p{
    font-size: 30px;
  
}

.anchor a,i{
    text-decoration: none;
    color: #FFF;
}

.anchor i{
    width: 40px;
    height: 40px;
}
.anchor{
    justify-content: space-around;
    /* align-items: center; */
    display: flex;
    justify-content: center;
    gap: 20px;
}
.anchor2{
    justify-content: space-around;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.anchor3{
    justify-content: space-around;
    /* align-items: center; */
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.anchor3 a{
    text-decoration: none;
    color: #FFF;
}